div {
  background-color: lightgrey;
  max-width: 100%;
  height: 100px;
}
#foto-profile {
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#gambar-background {
  background: lightgray;
}
#img-circel {
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
